<script type="text/x-red" data-help-name="file ejs">
  <p>Just like the core node "ejs", only that this node loads the script to
  be executed from an actual file on your drive.</p>

  <p>This may help you developing for Node RED. Instead of having to write
  your ejs code in that small textfield in your browser you can use your
  favorite editor/IDE.</p>

  <p>The filename can be overridden by the <code>msg.<b>filename</b></code>
  or <code>msg.<b>file</b></code> property of the incoming message.</p>

  <p>If no file exists with your given name in 'node-red/flows/local/', an
  empty file with the given name will be created.</p>

  <p>Creates a new payload based on the provided template.</p>
  <p>This uses the
  <i><a href="https://github.com/visionmedia/ejs" target="_new">ejs</a></i>
  format.</p>
  <p>For example, when a template of:</p>
  <pre>Hello <%= name %>. Today is <%= date %></pre>
  <p>receives a message containing:</p>
<pre>
{
  name: "Fred",
  date: "Monday"
  payload: ...
}</pre>
  <p>The resulting payload will be:</p>
  <pre>Hello Fred. Today is Monday</pre>
</script>
